<% layout('layouts/boilerplate')%>
    <h1 class="text-center">Companies</h1>
    <% if(companyData) {%>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card mb-3 border border-warning rounded">
                    <div class="card-body">
                        <h5 class="card-title">Company Name -
                            <%= companyData.name %>
                        </h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>About Company -</b>
                            <%= companyData.about %>
                        </li>
                        <li class="list-group-item"> <b>Job Description -</b>
                            <%= companyData.description%>
                        </li>
                        <li class="list-group-item"><b>Required Qualification - </b>SSC -
                            <%= companyData.ssc%>%, HSC -
                                <%= companyData.hsc%>%, Graduation -
                                    <%= companyData.graduation%>/10
                        </li>
                        <li class="list-group-item"><b> Requored Skills -</b>
                            <%= companyData.skills%>
                        </li>
                        <li class="list-group-item"><b> Package -</b>
                            <%= companyData.package%> LPA
                        </li>
                        <li class="list-group-item"><b> No of Vacancies -</b>
                            <%= companyData.vacancies%>
                        </li>
                        <% if(!currentUser.isAdmin){%>
                            <!-- <li class="list-group-item"> <a class="btn btn-primary" href="/success-message">Apply</a>
                            </li> -->
                            <form class="p-2" id="applyForm" action="/applied-candidates/" method="POST">
                                <button id="applyBtn" type="submit" class="btn btn-primary">Apply</button>
                            </form>

                            <script>
                                const applyBtn = document.getElementById('applyBtn');
                                const applyForm = document.getElementById('applyForm');

                                applyForm.addEventListener('submit', function (event) {
                                    event.preventDefault();
                                    applyBtn.innerText = 'Applied';
                                    applyBtn.classList.remove('btn-primary');
                                    applyBtn.classList.add('btn-secondary');
                                    setTimeout(() => applyForm.submit(), 500); // Delay form submission for half a second
                                });
                            </script>

                            <% } else { %>
                                <div class="card-body">
                                    <a class="card-link btn btn-info" href="/editcomp">Edit</a>
                                    <form class="d-inline" action="" method="POST">
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                                <% }%>

                                    <!-- <li class="list-group-item"> <a class="btn btn-primary" href="/editcomp">View
                                Applications</a>
                        </li> -->
                    </ul>
                </div>
                <% if(currentUser.isAdmin){%>
                    <div class="container my-3 text-black">
                        <a class=" btn btn-dark" href="/admin/applied-candidate%>">Applied Candidates</a>
                    </div>
                    <% } else {%>
                        <div class="container my-3 text-black">
                            <a class=" btn btn-dark" href="/admin/view-status%>">View Status</a>
                        </div>
                        <% } %>
            </div>
        </div>
        <% } else { %>
            <a href="/fiillresume" class='text-center'>Add Company</a>
            <% } %>